x-logging: &logging
  driver: "json-file"
  options:
    max-size: 10m
    max-file: 3
    compress: "true"

x-labels: &labels
  - "project=dbt"
  - "environment=dev"

services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    shm_size: 1g
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d
    networks:
      - dbt-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 3
    logging:
      <<: *logging
    labels: *labels

  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:latest
    container_name: dbt
    env_file:
      - .env
    volumes:
      - ${DBT_HOST_PROJECT_DIR}:${DBT_WORKDIR}
      - ${DBT_HOST_PROFILES_FILE}:/root/.dbt/profiles.yml
    working_dir: ${DBT_WORKDIR}
    networks:
      - dbt-network
    ports:
      - "${DBT_SERVER_PORT}:${DBT_SERVER_PORT}"
    entrypoint: ["/bin/sh", "-c"]
    command: ["tail -f /dev/null"] # sleep infinity
    depends_on:
      postgres:
        condition: service_healthy
    logging:
      <<: *logging
    labels: *labels

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pg_admin
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - dbt-network
    depends_on:
      postgres:
        condition: service_healthy
    logging:
      <<: *logging
    labels: *labels

volumes:
  pgdata:
    name: pgdata
    driver: local
  pgadmin-data:
    name: pgadmin-data
    driver: local

networks:
  dbt-network:
    name: dbt-network
    driver: bridge
